@import './config/base.scss';

@mixin emoji {
    width: px-to-rem(16);
    height: px-to-rem(16);
    transform: translateY(-2px);
    margin-right: px-to-rem(5);
}

input,
textarea {
    @include form-input;
}

// form {
//     div {
//         color: inherit;

//         span {
//             @include text-body-1;
//             display: block;
//             margin-bottom: 4px;
//         }

//         strong {
//             display: flex;
//             align-items: center;
//             font-size: px-to-rem(10);
//             color: var(--color-button);

//             &::before {
//                 content: '';
//                 flex: 0 0 px-to-rem(5);
//                 height: 5px;
//                 margin-right: px-to-rem(4);
//                 background-image: url(../assets/img/label-incorrect-input.svg);
//                 background-size: contain;
//                 background-repeat: no-repeat;
//                 background-position: center center;
//             }
//         }

//         input,
//         textarea {
//             width: 100%;
//         }
//     }

//     input {
//         @include form-input;
//     }
//     textarea {
//         @include form-input;
//         height: px-to-rem(87);
//         border: 1px solid var(--color-text-primary);
//         border-radius: px-to-rem(8);
//         padding: px-to-rem(10);

//         &::placeholder {
//             font-size: 0;
//         }
//     }

//     button[type=submit],
//     input[type=submit] {
//         @include button;
//         @include button-normal;
//         border-color: var(--color-text-primary);
//         color: var(--color-text-primary);

//         &:hover,
//         &:focus-visible {
//             background-color: var(--color-text-primary);
//             color: var(--color-text-secondary);
//         }
//     }
// }

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    
    50% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes handshake {
    0% {
        transform-origin: center 100%;
        transform: scale(0) rotate(45deg);
        opacity: 0;
    }
    
    25% {
        transform: scale(1) rotate(-15deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(0deg);
        opacity: 1;
    }
    
    100% {
        transform: rotate(0deg);
    }
}

._btn-white {
    @include button-white;
}

._btn-black {
    @include button-black;
}

.more__btn__container {
    display: flex;
    max-width: px-to-rem(250);
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    margin-top: px-to-rem(50);
}

.first-section {
    @include viewport-tablet-min{
        margin-top: px-to-rem(70);
    }
    @include viewport-phone{
        margin-top: px-to-rem(70);
    }
}

//popup-----------------------------------------------------------------------
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease, visibility 0.15s ease;

    &._open {
        opacity: 1;
        visibility: visible;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        opacity: 0.4;
        background-color: rgba(var(--color-text-secondary--rgb), 0.9);
    }

    &.popup-search {
    }
    
    //.popup__container 
    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        //height: px-to-rem(120);
        transform: translate(-50%, -50%);
        background-color: var(--color-bg-primary);

        @include viewport-desktop {
            max-width: 50%;
        }
        @include viewport-tablet {
            max-width: 70%;
        }
        @include viewport-phone {
            max-width: 80%;

            @media (max-width: 768px) {
                max-width: 90%;
            }
        }
    }
    
    //.popup__wrapper 
    &__wrapper {
        display: flex;
        width: 100%;
        //height: 100%;
        align-items: center;
        justify-content: space-between;
        column-gap: px-to-rem(12);
        padding: px-to-rem(15) px-to-rem(27);
    }
    
    //.popup__label 
    &__label {
        flex: 0 0 px-to-rem(20);
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }
    
    //.popup__form 
    &__form {
        width: 100%;

        input {
            @include form-input;
            width: 100%;
            border: unset;
            font-size: px-to-rem(22);
            color: var(--color-text-primary);
            font-weight: 100;
            outline: unset;
            padding: px-to-rem(30) 0;

            &::placeholder {
                text-align: center;
                font-size: px-to-rem(22);
                color: var(--color-text-primary);
                font-weight: 700;
            }
        }
    }
    
    //.popup__close 
    &__close {
        flex: 0 0 px-to-rem(20);
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }
}

//progressbar----------------------------------------------------------------
.progressbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    overflow: hidden;
    
    //.progressbar__inner 
    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        transition: width 0.2s linear;
        background-color: var(--color-element-primary);
    }
}


// section {

//     @include viewport-desktop {
//         padding: px-to-rem(60) 0;
//     }
//     @include viewport-tablet {
//         padding: px-to-rem(30) 0;
//     }
//     @include viewport-phone {
//         padding: px-to-rem(30) 0;
//     }
    
// }

//HEADER
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    background-color: var(--color-bg-primary);

    @include viewport-tablet-min {
        padding: px-to-rem(15) 0;
    }

    @include viewport-phone {
        padding: px-to-rem(20) 0;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: #fff;
        }
    }

    //.header__container 
    &__container {
        width: 100%;
        margin: 0 auto;

        @include viewport-desktop {
            max-width: px-to-rem(1170);
        }

        @include viewport-tablet {
            max-width: px-to-rem(970);
        }

        @include viewport-phone {
            max-width: px-to-rem(750);
            padding: 0 px-to-rem(15);

            @media (max-width: 768px) {
                max-width: 90.625%;
            }

            @media (max-width: 578px) {
                padding: unset;
            }
        }
    }

    //.header__wrapper 
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    //.header__logo 
    &__logo {
        flex: 0 0 px-to-rem(100);
        width: 100%;

        @include viewport-phone {
            position: relative;
            z-index: 1;

            @media (max-width: 768px) {
                flex: 0 0 px-to-rem(125);
            }

            @media (max-width: 578px) {
                flex: 0 0 px-to-rem(80);
            }
        }

        .custom-logo-link {
        }
    }
    
    //.header__additional 
    &__additional {
        display: flex;
        align-items: center;

        @include viewport-tablet-min {
            flex: 0 0 22.222%;
            justify-content: flex-end;
        }

        @include viewport-phone {
            position: relative;
            z-index: 1;
            flex: 0 0 px-to-rem(90);
        }
    }
}

.menu-burger {

    //.menu-burger-container
    &-container {
        @include viewport-desktop {
            display: none;
        }

        @include viewport-phone {
            position: relative;
            z-index: 1;
            flex: 0 0 px-to-rem(90);
        }
    }
    

    @include viewport-phone {
        position: relative;
        display: block;
        max-width: px-to-rem(25);
        width: 100%;
        height: px-to-rem(12);
        outline: unset;
        
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            transform-origin: center;
            transition: transform 0.15s ease;
            background-color: var(--color-text-primary);
        }

        &::before {
            top: 0;

            @at-root ._active::before {
                transform: rotate(45deg);
            }
        }

        &::after {
            top: 0;
            transform: translateY(400%);

            @at-root ._active::after {
                transform: rotate(-45deg);
            }
        }

    }
}

.menu {
    @include viewport-tablet-min {
        flex: 1 0 auto;
    }

    @include viewport-phone {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
        padding-top: px-to-rem(68);
        background-color: var(--color-bg-primary);

        &._active {
            transform: translateX(0);
        }
    }

    //.menu-list 
    &-list {
        @include viewport-tablet-min {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        @include viewport-phone {
            display: block;
        }

        li {
            @include viewport-tablet-min {
                padding: 0 px-to-rem(17);
            }

            @include viewport-phone {
                line-height: 250%;
                color: var(--color-text-fourty);
            }

            &._mob {
                @include viewport-tablet-min {
                    display: none;
                }
            }

            &._space {
                margin-bottom: px-to-rem(40);
            }
        }

        //.menu-list__item 
        &__item {
            display: block;
            transition: color 0.3s ease;
            font-family: $font-family-title;
            font-weight: 700;
            font-size: px-to-rem(16);
            color: inherit;

            @include viewport-tablet-min {
                &._active, 
                &:not(._green, ._white):hover,
                &:not(._green, ._white):focus-visible {
                    color: var(--color-text-hover);
                }
            }

            @include viewport-phone {
                text-align: center;

                &:not(._green, ._white):hover,
                &:not(._green, ._white):focus-visible {
                    color: var(--color-text-primary);
                }

                @at-root ._mob & {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                @at-root ._mob img {
                    flex: 0 0 px-to-rem(16);
                    width: 100%;
                    height: px-to-rem(16);
                    transform: translateY(-2px);
                    margin-right: px-to-rem(5);
                }
            }

            &._green {
                color: var(--color-text-thirdy);

                span {
                    padding: 0 px-to-rem(5);
                    background-color: var(--color-element-secondary);
                }
            }

            &._white {   
                color: var(--color-text-primary);

                span {             
                    padding: 0 px-to-rem(5);
                    background-color: var(--color-element-primary);
                }
            }
        }
    }
}

.search-open {
    width: 100%;

    @include viewport-tablet-min {
        flex: 0 0 px-to-rem(20);
        height: px-to-rem(20);
    }
    @include viewport-phone {
        max-width: px-to-rem(25);
        height: px-to-rem(25);
        margin: 0 auto;
        margin-bottom: px-to-rem(10);
    }

    &._desk {
        @include viewport-tablet-min {
            display: flex;
        }

        @include viewport-phone {
            display: none;
        }
    }

    &._mob {
        @include viewport-tablet-min {
            display: none;
        }

        @include viewport-phone {
            display: flex;
        }
    }

    svg {
        width: 100%;
        height: auto;

        path {
            transition: fill 0.2s ease;

            @at-root .search-open:hover path {
                fill: var(--color-text-hover);
            }

            @at-root .search-open:focus-visible path {
                fill: var(--color-text-hover);
            }
        }
    }
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: px-to-rem(15);

    @include viewport-tablet-min {
        flex: 0 0 px-to-rem(90);
        margin-right: px-to-rem(20);
    }

    li {
        flex: 0 0 px-to-rem(20);
        height: px-to-rem(20);
    }

    //.socials__item 
    &__item {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        svg {
            width: 100%;
            height: auto;

            path {
                transition: fill 0.2s ease;
    
                @at-root .socials__item:hover path {
                    fill: var(--color-text-hover);
                }
                @at-root .socials__item:focus-visible path {
                    fill: var(--color-text-hover);
                }
            }
        }
    }
}

.weather__wrapper {
    @include viewport-desktop {
        position: relative;
    }

    @include viewport-tablet-max {
        display: none;
    }
}

.weather-atlas-wrapper {
    color: var(--color-text-primary) !important;
    text-shadow: none !important;
    font-size: .9em;

    .weather-atlas-header {
        position: absolute;
        left: 50%;//px-to-rem(49);
        top: 50%;//px-to-rem(8);
        transform: translate(-70%, -57%);
        text-transform: capitalize !important;
        border: none !important;
        font-size: px-to-rem(14);
        text-align: center;
        padding: 0 !important;
        background: transparent !important;

        &::after {
            content: ',';
            display: block;
            font-size: px-to-rem(15);
            position: absolute;
            top: 0;
            right: -5px;
        }
    }

    .weather-atlas-body {
        max-width: px-to-rem(600);
        margin: 0 auto;
        padding: 0.7em 1.25em;
    }

    .current_temp {
        display: flex;
        align-items: center;
        margin-bottom: 0 !important;

        .wi {
            font-size: px-to-rem(21);
        }

        .temp {
            font-size: 3.75em;
            line-height: 1.2;
            margin-left: 0.1em;
            letter-spacing: -.05em;
        }
    }

    span {
        font-size: px-to-rem(14) !important;
        font-weight: 700;
        margin-left: px-to-rem(47) !important;
    }

    .current_text, 
    .weather-atlas-footer {
        display: none;
    }
}

//MAIN SWIPER----------------------------------------------------------
.mob-slider {
    @include viewport-tablet-min {
        display: none;
    }
    @include viewport-phone {
        margin-top: px-to-rem(100);
    }
    
    //.mob-slider__container 
    &__container {
        @include viewport-phone {
            @media (max-width: 768px) {
                max-width: unset;
            }
        }
    }
    
    //.mob-slider__wrapper 
    &__wrapper {
    }
}


.main-swiper {
    &.swiper {
    }
    .swiper-wrapper {
    }
    .swiper-slide {
    }

    //.swiper-main__btns__container 
    &__btns__container {
        .swiper-button-next,
        .swiper-button-prev {
            left: unset;
            right: unset;
            z-index: 2;
            display: flex;
            width: 100%;
            height: unset;
            justify-content: center;
            align-items: center;
            margin: unset;
            padding: unset;
            border: unset;
            color: inherit;
            background-color: unset;

            &::after {
                display: none;
            }

            &.swiper-button-disabled {
                opacity: unset;
                pointer-events: all;
            }

            svg {
                width: 100%;
                height: auto;
            }

            @include viewport-phone {
                max-width: px-to-rem(50);
                width: 100%;

                @media (max-width: 768px) {
                    max-width: px-to-rem(30);
                }
                @media (max-width: 520px) {
                    max-width: px-to-rem(15);
                }
            }
        }
        .swiper-button-next {
            right: 0;
            transform: translate(-10%, -50%);

            @media (max-width: 520px) {
                transform: translate(-30%, 400%);
            }
        }
        .swiper-button-prev {
            left: 0;
            transform: translate(10%, -50%);

            @media (max-width: 520px) {
                transform: translate(30%, 400%);
            }
        }
    }    
    
    //.main-swiper__content 
    &__content {
        position: relative;
        z-index: 0;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        color: var(--color-text-thirdy);
    }
    
    //.main-swiper__img 
    &__img {
        position: relative;
        z-index: 0;

        @include viewport-phone {
            padding-top: 87.333%;

            @media (max-width: 768px) {
                padding-top: 58.267%;
            }
            @media (max-width: 550px) {
                padding-top: px-to-rem(350);
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            opacity: 0.3;
            background-color: var(--color-bg-secondary);
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    //.main-swiper__text 
    &__text {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    //.main-swiper__title 
    &__title {
        @include viewport-phone {
            max-width: 70%;
            width: 100%;
            font-size: px-to-rem(32);
            font-weight: 300;
            font-family: $font-family-title;
            line-height: 110%;
            text-align: center;
            margin: 0 auto;
            margin-bottom: px-to-rem(35);

            @media (max-width: 768px) {
                font-size: px-to-rem(28);
            }
            @media (max-width: 550px) {
                font-size: px-to-rem(22);
                max-width: 85%;
            }
            @media (max-width: 414px) {
                font-weight: 800;
            }
        }
        .emoji {
            @include emoji;
            @include viewport-phone {
                width: px-to-rem(32);
                height: px-to-rem(32);
                margin-right: px-to-rem(2);

                @media (max-width: 768px) {
                    width: px-to-rem(28);
                    height: px-to-rem(28);
                }
                @media (max-width: 550px) {
                    width: px-to-rem(22);
                    height: px-to-rem(22);
                }
            }
        }
    }
    
    //.main-swiper__subtitle 
    &__subtitle {
        @include viewport-phone {
            @include text-body-2;
            max-width: 70%;
            text-align: center;
            margin-bottom: px-to-rem(15);

            @media (max-width: 550px) {
                max-width: 85%;
            }
        }
    }
    
    //.main-swiper__tag 
    &__tag {
        &._white {
            @include viewport-phone {
                font-size: px-to-rem(12);
                padding: px-to-rem(2) px-to-rem(20) px-to-rem(5);
                color: var(--color-text-primary);
                background-color: var(--color-bg-primary);
            }
        }
        &._black {
            @include viewport-phone {
                @include text-body-2;
                padding: px-to-rem(2) px-to-rem(5) px-to-rem(2) px-to-rem(2);
                color: var(--color-text-thirdy);
                background-color: var(--color-bg-secondary);

                &::before {
                    content: '#';
                    display: inline-block;
                    transform: translateX(px-to-rem(3));
                }
            }
        }
    }
}


//SEPARATE-SECTION-----------------------------------------------------
.separate-section {
    padding: px-to-rem(30) 0;

    &.separate-section__about {
        .separate-section__left {
            @include viewport-phone {
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
    }

    //.separate-section__container 
    &__container {
        @include viewport-phone {
            @media (max-width: 768px) {
                max-width: unset;
            }
        }
    }
    
    //.separate-section__wrapper 
    &__wrapper {
        @include viewport-tablet-min{
            display: flex;
            justify-content: space-between;    
        }

        @at-root ._reverse & {
            display: flex;

            @include viewport-tablet-min{
                justify-content: space-between;    
            }
            @include viewport-phone{
                flex-direction: column-reverse;  
            }
        }

        @at-root ._reverse-desk & {
            display: flex;

            @include viewport-tablet-min{
                flex-direction: row-reverse;  
                justify-content: space-between;    
            }
            @include viewport-phone{
                flex-direction: column-reverse;  
            }
        }
    }
    
    //.separate-section__left 
    &__left {
        @include viewport-desktop {
            flex: 0 0 30.76%;
        }
        @include viewport-tablet {
            flex: 0 0 37.113%;
        }
    }
    
    //.separate-section__right 
    &__right {
        @include viewport-desktop {
            flex: 0 0 66.666%;
        }
        @include viewport-tablet {
            flex: 0 0 59.793%;
        }

        @at-root ._reverse & {
            @include viewport-phone {
                margin-bottom: px-to-rem(50);
            }
        }
    }
}

//SIDEBAR----------------------------------------------------------
.sidebar {

    @include viewport-phone {
        padding-bottom: px-to-rem(50);
    }
    
    //.sidebar__wrapper 
    &__wrapper {
        @include viewport-tablet-min {
            // height: px-to-rem(600);
        }
        @include viewport-phone {
            @media (max-width: 768px) {
                max-width: 91.501%;
                margin: 0 auto;
            }
        }
    }
    
    //.sidebar__title__container 
    &__title__container {
        
    }
    
    //.sidebar__title 
    &__title {
        @include text-heading-2;
        padding-bottom: px-to-rem(20);
        background-color: var(--color-bg-primary);

        a {
            transition: color 0.3s ease;
            color: inherit;

            &:hover,
            &:focus-visible {
                color: var(--color-text-hover);
            }
        }
    }
    
    //.sidebar__content 
    &__content {
        @include viewport-tablet-min {
            height: px-to-rem(600);
            overflow: hidden;
            ::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }

    //.sidebar__btn__container 
    &__btn__container {
        @include viewport-tablet-min {
            display: none;
        }
    }
    
    //.sidebar-list 
    &-list {
        height: 100%;
        overflow: auto;

        //.sidebar-list__item 
        &__item {
        }
        
        //.sidebar-list__title 
        &__title {
            font-size: px-to-rem(14);

            a {
                color: inherit;
                display: inline-block;
                transition: color 0.3s ease;

                &:hover {
                    color: var(--color-text-hover);
                }
                &:focus-visible {
                    color: var(--color-text-hover);
                }
            }
        }
        
        //.sidebar-list__emoji 
        &__emoji {
            @include emoji;
        }
        
        //.sidebar-list__time 
        &__time {
            display: block;
            font-size: px-to-rem(11);
            line-height: 100%;
            color: var(--color-text-secondary);
            margin-bottom: px-to-rem(20);
        }
    }
}

//ARTICLES--------------------------------------------
.articles {
    padding-bottom: px-to-rem(50);

    @include viewport-tablet-min {
        border-bottom: 1px solid rgba(var(--color-text-secondary--rgb), 0.4);
    }
    
    &.articles__thematic {
        @include viewport-phone {
            display: none;
        }
    }

    &._desk {
        @include viewport-phone {
            display: none;
        }
    }

    &._no-border {
        @include viewport-tablet-min {
            border-bottom: unset;
        }
    }

    //.articles__container 
    &__container {
        @include viewport-phone {
            @media (max-width: 768px) {
                max-width: unset;
            }
        }
    }

    //.articles__wrapper 
    &__wrapper {
    }

    //.articles__btn__container 
    &__btn__container {
        
    }
    
    //.articles__title__container 
    &__title__container {
        display: flex;
        align-items: center;
        padding: px-to-rem(50) 0;
    }
    
    //.articles__title 
    &__title {
        @include text-heading-1;
        font-weight: 900;
        margin-right: px-to-rem(30);
    }
    
    //.articles-tags 
    &-tags {
        display: flex;
        align-items: center;

        //.articles-tags__title 
        &__title {
            @include text-body-2;
            margin-right: px-to-rem(20);
        }
        
        //.articles-tags__list 
        &__list {
            display: flex;
            column-gap: px-to-rem(8);
        }
        
        //.articles-tags__item 
        &__item {
            a {
                @include text-body-2;
                display: block;
                text-transform: lowercase;
                font-weight: 700;
                padding: 0 px-to-rem(5) 0 px-to-rem(2);
                color: var(--color-text-thirdy);
                background-color: var(--color-bg-secondary);

                &::before {
                    content: '#';
                    display: inline-block;
                    transform: translateX(px-to-rem(3));
                }
            }
        }
    }
    
    //.articles-list 
    &-list {

        &.two-columns {
            @include viewport-tablet-min {
                grid-template-columns: repeat(2, 1fr);
            }

            @at-root .separate-section__right .articles__btn__container {
                @include viewport-tablet-min {
                    display: none;
                }
            }

            &-mob {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: px-to-rem(30);
                row-gap: px-to-rem(30);

                @include viewport-phone {
                    > * {
                        + * {
                            margin-top: px-to-rem(0);
                        }
                    }

                    @media (max-width: 768px) {
                        display: block;

                        > * {
                            + * {
                                margin-top: px-to-rem(30);
                            }
                        }
                    }
                }
            }
        }

        @include viewport-tablet-min {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: px-to-rem(30);
            row-gap: px-to-rem(30);
        }

        @include viewport-phone {
            > * {
                + * {
                    margin-top: px-to-rem(30);
                }
            }
        }
        
        //.articles-list__item 
        &__item {
            &._donate {
                background-color: var(--color-element-primary);
            }
        }
        
        //.articles-list__donate__content 
        &__donate__content {
            display: flex;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
            align-items: center;
            padding: px-to-rem(30);
        }

        //.articles-list__donate__text 
        &__donate__text {
            @include text-body-2;
            margin-bottom: px-to-rem(15);
        }

        //.articles-list__donate__btn__container 
        &__donate__btn__container {
            width: 100%;
        }

        //.articles-list__donate__btn 
        &__donate__btn {
        }
        
        //.articles-list__img__content 
        &__img__content {
            position: relative;
            overflow: hidden;
            cursor: pointer;
            margin-bottom: px-to-rem(20);
        }
        
        //.articles-list__img 
        &__img {
            position: relative;
            z-index: 0;
            display: block;
            width: 100%;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity 0.3s ease;
                background-color: var(--color-bg-secondary);

                @at-root .articles-list__item:hover .articles-list__img::before {
                    opacity: 0.2;
                }
                @at-root .articles-list__img:focus-visible::before {
                    opacity: 0.2;
                }
            }

            //.articles-list__img__container 
            &__container {
                display: block;
                padding-top: 51.388%;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        //.articles-list__watchers
        &__watchers {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 2;
            display: flex;
            align-items: center;
            transition: transform 0.3s ease;
            transform: translate(px-to-rem(-10), 100%);
            font-size: px-to-rem(14);
            color: var(--color-text-thirdy);

            @at-root .articles-list__item:hover & {
                transform: translate(px-to-rem(-10), px-to-rem(-10));
            }
            @at-root .articles-list__img:focus-visible & {
                transform: translate(px-to-rem(-10), px-to-rem(-10));
            }

            img {
                max-width: px-to-rem(15.75);
                width: 100%;
                height: auto;
                margin-right: px-to-rem(9);
            }
        }
        
        //.articles-list__tag 
        &__tag {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 3;
            font-size: px-to-rem(14);
            font-weight: 700;
            line-height: 100%;
            padding: px-to-rem(5);
            
            &._white {
                transform: translateY(-100%);
                color: var(--color-text-primary);
                background-color: var(--color-bg-primary);
            }

            &._black {
                color: var(--color-text-thirdy);
                background-color: var(--color-bg-secondary);
            }
        }
        
        //.articles-list__text__content 
        &__text__content {
            @include viewport-phone {
                @media (max-width: 768px) {
                    max-width: 92%;
                    margin: 0 auto;
                }
            }
        }
        
        //.articles-list__title 
        &__title {
            @include text-heading-3;
            margin-bottom: px-to-rem(15);

            .emoji {
                @include emoji;
            }

            a {
                color: inherit;
            }
        }
        
        //.articles-list__subtitle 
        &__subtitle {
            @include text-body-2;
            color: var(--color-text-secondary);
        }
    }
}

//SPONSORS----------------------------------------------
.sponsors {
    margin-bottom: px-to-rem(20);

    //.sponsors__wrapper 
    &__wrapper {
        max-width: px-to-rem(707);
        width: 100%;
        margin: 0 auto;

        @include viewport-phone {
            @media (max-width: 768px) {
                max-width: unset;
            }
        }
    }
    
    //.sponsors__text 
    &__text {
        text-align: center;
        margin-bottom: px-to-rem(14);
        color: var(--color-text-fourty);

        @include viewport-phone {
            font-size: px-to-rem(16);
        }

        a {
            transition: color 0.3s ease;
            color: inherit;

            &:hover,
            &:focus-visible {
                color: var(--color-text-hover);
            }
        }
    }
    
    //.sponsors-list 
    &-list {
        display: flex;
        justify-content: center;

        @include viewport-phone {
            @media (max-width: 768px) {
                max-width: px-to-rem(310);
                width: 100%;
                flex-wrap: wrap;
                margin: 0 auto;
            }
        }
        
        //.sponsors-list__item 
        &__item {
            border-top: 1px solid rgba(var(--color-text-secondary--rgb), 0.4);
            padding: px-to-rem(8);

            &:nth-child(4) {
                img {
                    @include viewport-phone {
                        max-width: px-to-rem(81);
                        height: auto;
                    }
                }
            }

            img {
                @include viewport-tablet-min {
                    height: 100%;
                    width: auto;
                }
                @include viewport-phone {
                    max-width: px-to-rem(139);
                    height: auto;
                }
            }
        }
    }
}

//marque------------------------------------------------
.marquee {
    overflow: hidden;

    @include viewport-tablet-min {
        display: none;
    }

    @include viewport-phone {
        margin-top: px-to-rem(20);
    }
    
    //.marquee__wrapper 
    &__wrapper {
    }
    
    //.marquee__title 
    &__title {
        display: inline-block;
        font-weight: 600;
        font-size: px-to-rem(27);

        a {
            color: inherit;
            box-shadow: inset -3px -15px 0px -10px var(--color-element-primary);
        }

        img {
            @include emoji;
            width: px-to-rem(27);
            height: px-to-rem(27);
            margin-right: px-to-rem(2);
        }
    }

    .empty {
        display: inline-block;
        margin-right: px-to-rem(30);
    }
}

//about-------------------------------------------------
.about {
    @include viewport-phone {
        margin-bottom: px-to-rem(30);
    }

    //.about__wrapper 
    &__wrapper {
        @include viewport-phone {
            max-width: px-to-rem(680);
            margin: 0 auto;

            @media (max-width: 768px) {
                max-width: 91.501%;
            }
        }
    }
    
    //.about__paragraph 
    &__paragraph {
        margin-bottom: px-to-rem(40);

        &._first {
            margin: px-to-rem(20) 0;
        }

        h2 {
            @include text-heading-2;
            margin-bottom: px-to-rem(20);
            
            @include viewport-desktop {
                font-size: px-to-rem(32);
            }
        }

        a {
            color: inherit;
            text-decoration: none;
            transition: box-shadow 0.15s ease;
            box-shadow: inset px-to-rem(-3) px-to-rem(-15) 0 px-to-rem(-10) var(--color-element-primary);

            &:hover,
            &:focus-visible {
                box-shadow: inset px-to-rem(-4) px-to-rem(-20) 0 px-to-rem(-10) var(--color-element-primary);
            }
        }

        p {
           @include text-body-1;
        }

        strong {
            font-weight: 700;
        }
    }
    
    //.about__img 
    &__img {
        max-width: px-to-rem(370);
        width: 100%;
        margin: 0 auto;

        @include viewport-phone {
            @media (max-width: 370px) {
                max-width: unset;
            }
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

//donate-mobile-----------------------------------------
.donate-mobile {
    @include viewport-tablet-min {
        display: none;
    }
    
    @include viewport-phone {
        @media (max-width: 768px) {
            position: relative;
        }
    }

    &::before {
        @include viewport-phone {
            @media (max-width: 768px) {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                height: 100%;
                width: 100vw;
                background-color: var(--color-element-primary);
                transform: translateX(-50%);
            }
        }
    }

    //.donate-mobile__wrapper 
    &__wrapper {
        
        @include viewport-phone {
            padding: px-to-rem(30);
            background-color: var(--color-element-primary);

            @media (max-width: 768px) {
                position: relative;
            }
        }

        
    }
    
    //.donate-mobile__title 
    &__title {
        @include text-heading-2;
        padding-bottom: px-to-rem(15);

        img {
            @include emoji;
            width: px-to-rem(26);
            height: px-to-rem(26);
            transform: translateY(-4px);
        }
    }
    
    //.donate-mobile__text 
    &__text {
        @include text-body-2;
        margin-bottom: px-to-rem(15);
    }
    
    //.donate-mobile__btns__container 
    &__btns__container {
        display: flex;
        justify-content: space-between;

        @include viewport-phone {
            max-width: 84.21%;
            margin: 0 auto;
            margin-bottom: px-to-rem(15);

            @media (max-width: 430px) {
                max-width: unset;
            }
            @media (max-width: 350px) {
                flex-direction: column;
                justify-content: unset;
                align-items: center;
                row-gap: px-to-rem(10);
            }
        }
    }
    
    //.donate-mobile__btn 
    &__btn {
        @include button-black;
        width: unset;
        font-size: px-to-rem(26);
        padding: px-to-rem(12) px-to-rem(18);

        @media (max-width: 768px) {
            font-size: px-to-rem(24);
        }
        
        @media (max-width: 530px) {
            font-size: px-to-rem(16);
        }
    }
    
    //.donate-mobile__more 
    &__more {
        display: flex;
        justify-content: center;

        //.donate-mobile__more__btn 
        &__btn {
            transition: color 0.3s ease;
            font-size: px-to-rem(14);
            font-style: italic;
            text-decoration: underline;
            color: inherit;

            &:hover,
            &:focus-visible {
                color: var(--color-text-hover);
            }
        }
    }
}

//team--------------------------------------------------
.team {
    padding-top: px-to-rem(30);
    padding-bottom: px-to-rem(30);

    //.team__wrapper 
    &__wrapper {
        width: 100%;
        margin: 0 auto;

        @include viewport-desktop {
            max-width: 95.726%;
        }
        @include viewport-tablet {
            max-width: 94.845%;
        }
        @include viewport-phone {
            max-width: 93.333%;

            @media (max-width: 768px) {
                max-width: unset;
            }
        }
    }
    
    //.team__hedaer__container 
    &__hedaer__container {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: px-to-rem(40);

        @include viewport-desktop {
            max-width: 91.071%;
        }
        @include viewport-tablet {
            max-width: unset;
        }
        @include viewport-phone {
            max-width: 91.428%;

            @media (max-width: 768px) {
                max-width: unset;
            }
        }
    }
    
    //.team__title 
    &__title {
        position: relative;
        z-index: 0;
        @include text-heading-3;
        font-size: px-to-rem(32);
        margin-bottom: px-to-rem(10);

        @include viewport-phone {
            @media (max-width: 768px) {
                font-size: px-to-rem(24);
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 0.5px;
            background-color: var(--color-text-primary);
        }

        span {
            position: relative;
            z-index: 1;
            display: inline-block;
            padding: 0 px-to-rem(20);
            background-color: var(--color-bg-primary);
        }
    }
    
    //.team__subtitle 
    &__subtitle {
        font-weight: 400;
        font-size: px-to-rem(18);
        line-height: 140%;
        margin-bottom: px-to-rem(20);
    }
    
    //.team__hover__info 
    &__hover__info {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: px-to-rem(13);
        font-style: italic;
        color: var(--color-text-fourty);

        //.team__hover__info__label 
        &__label {
            @include emoji;
            flex: 0 0 px-to-rem(10);
            width: 100%;
            height: auto;
            margin-right: 0.25em;
            animation: 0.8s ease pulse infinite;
            animation-play-state: paused;


            @at-root .team__hover__info:hover & {
                animation-play-state: running;
            }
        }
    }

    //.team-list 
    &-list {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        column-gap: px-to-rem(40);
        row-gap: px-to-rem(60);
        border-bottom: 1px solid rgba(var(--color-text-secondary--rgb), 0.2);
        margin: 0 auto;

        @include viewport-tablet-min {
            padding-bottom: px-to-rem(40);
            margin-bottom: px-to-rem(40);
        }

        @include viewport-phone {
            padding-bottom: px-to-rem(20);
            margin-bottom: px-to-rem(20);

            @media (max-width: 768px) {
                max-width: px-to-rem(360);
                grid-template-columns: repeat(1, 1fr);
                row-gap: px-to-rem(20);
            }
            @media (max-width: 450px) {
                max-width: 85.714%;
            }
        }

        //.team-list__item 
        &__item {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;

            &._empty {
                align-items: center;
            }

            @include viewport-phone {
                @media (max-width: 768px) {
                    display: block;
                }
            }
        }
        
        //.team-list__img 
        &__img {
            position: relative;
            width: 100%;
            overflow: hidden;
            margin-bottom: px-to-rem(20);

            //.team-list__img__container 
            &__container {
                padding-top: 150%;
            }

            //.team-list__img__description 
            &__description {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                opacity: 0;
                transition: opacity 0.3s ease;
                font-size: px-to-rem(13);
                line-height: 140%;
                text-align: center;
                padding: px-to-rem(10) px-to-rem(15);
                color: var(--color-text-thirdy);
                background-color: rgba(var(--color-bg-secondary--rgb), 0.7);

                @at-root .team-list__img:hover & {
                    opacity: 1;
                }
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        //.team-list__post 
        &__post {
            text-transform: uppercase;
            font-family: $font-family-title;
            font-size: px-to-rem(11);
            line-height: 100%;
            font-weight: 700;
            color: var(--color-text-fourty);
            margin-bottom: px-to-rem(20);
        }
        
        //.team-list__name 
        &__name {
            @include text-heading-3;
        }
        
        //.team-list__item__label 
        &__item__label {
            display: flex;
            width: 100%;
            justify-content: center;
            margin-bottom: px-to-rem(20);

            &._label-1 {
                img {
                    max-width: px-to-rem(130);
                }
            }
            &._label-2 {
                img {
                    max-width: px-to-rem(220);
                }
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }
        
        //.team-list__item__text 
        &__item__text {
            text-align: center;
            font-weight: 500;
            font-size: px-to-rem(19);
            color: var(--color-text-fourty);

            strong {
                font-weight: 700;
            }

            a {
                color: var(--color-text-primary);
                text-decoration: none;
                transition: box-shadow 0.15s ease;
                box-shadow: inset px-to-rem(-3) px-to-rem(-15) 0 px-to-rem(-10) var(--color-element-primary);
    
                &:hover,
                &:focus-visible {
                    box-shadow: inset px-to-rem(-4) px-to-rem(-20) 0 px-to-rem(-10) var(--color-element-primary);
                }            
            }
        }
    }
}

//donate------------------------------------------------
.donate {
    padding-top: px-to-rem(110);
    margin-bottom: px-to-rem(30);


    @include viewport-phone {
        @media (max-width: 768px) {
            padding-top: px-to-rem(50);
        }
    }

    //.donate__wrapper 
    &__wrapper {
        display: flex;
        column-gap: px-to-rem(10);
        border-bottom: 1px solid rgba(var(--color-text-fourty--rgb), 0.2);
        padding-bottom: px-to-rem(30);

        @include viewport-phone {
            @media (max-width: 768px) {
                display: block;
            }
        }

    }
    
    //.donate-info 
    &-info {
        text-align: center;

        @include viewport-tablet-min {
            flex: 0 0 42.543%;
        }

        @include viewport-phone {
            flex: 0 0 39.705%;

            @media (max-width: 768px) {
                margin-bottom: px-to-rem(28);
            }
        }

        //.donate-info__img 
        &__img {
            display: flex;
            justify-content: center;
            margin-bottom: px-to-rem(20);

            //.donate-info__img__container 
            &__container {
                flex: 0 0 px-to-rem(130);
                animation: handshake 2s ease;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
        
        //.donate-info__count 
        &__count {
            font-size: px-to-rem(72);
            font-weight: 700;
            line-height: 100%;
            margin-bottom: px-to-rem(14);
        }
        
        //.donate-info__description 
        &__description {
            font-size: px-to-rem(22);
            font-weight: 700;
            line-height: 140%;
        }
    }
    
    //.donate-liq 
    &-liq {

        //.donate-liq__title 
        &__title {
            @include viewport-tablet-min {
                display: none;
            }
            @include viewport-phone {
                text-align: center;
                font-size: px-to-rem(18);
                line-height: 160%;
                padding: 0 px-to-rem(10);
                margin-bottom: px-to-rem(24);
            }

            strong {
                font-weight: 700;
            }
        }

        //.donate-liq__wrapper 
        &__wrapper {
            margin-bottom: px-to-rem(20);
        }
        
        //.donate-liq__description 
        &__description {
            text-align: center;
            font-style: italic;
            font-size: px-to-rem(13);
            line-height: 120%;

            strong {
                font-weight: 700;
            }
        }
    }
    
    //.donate-description 
    &-description {
        padding-bottom: px-to-rem(30);

        //.donate-description__wrapper 
        &__wrapper {
        }
        
        //.donate-description__content 
        &__content {
            text-align: center;
            font-size: px-to-rem(18);
            margin-bottom: px-to-rem(14);

            > * {
                + * {
                    margin-top: px-to-rem(14);
                }
            }

            a {
                color: inherit;
                text-decoration: none;
                transition: box-shadow 0.15s ease;
                box-shadow: inset px-to-rem(-3) px-to-rem(-15) 0 px-to-rem(-10) var(--color-element-primary);

                &:hover,
                &:focus-visible {
                    box-shadow: inset px-to-rem(-4) px-to-rem(-20) 0 px-to-rem(-10) var(--color-element-primary);
                }
            }
        }
        
        //.donate-description__img 
        &__img {
            max-width: px-to-rem(176);
            width: 100%;
            margin: 0 auto;

            @include viewport-tablet-min {
                margin-bottom: px-to-rem(80);
            }

            @include viewport-phone {
                margin-bottom: px-to-rem(64);
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

//FOOTER------------------------------------------------
.footer {
    padding: px-to-rem(46) 0 px-to-rem(21);
    color: var(--color-text-thirdy);
    background-color: var(--color-bg-secondary);

    //.footer__wrpapper 
    &__wrpapper {
    }
    
    //.footer__content 
    &__content {
        display: flex;
        width: 100%;
        margin-bottom: px-to-rem(25);

        @include viewport-tablet-min {
            justify-content: space-between;
        }

        @include viewport-phone {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    
    //.footer__logo 
    &__logo {
        @include viewport-tablet-min {
            flex: 0 0 px-to-rem(178);
        }

        @include viewport-phone {
            max-width: px-to-rem(300);
            width: 100%;
        }

        .custom-logo-link {
        }
    }
    
    //.footer__copyrights 
    &__copyrights {
        @include text-body-2;
        font-weight: 500;
        text-align: center;
        margin: 0 auto;
        color: var(--color-text-secondary);

        @include viewport-tablet-min {
            max-width: 50%;
        }

        @include viewport-phone {
            max-width: 60%;
        }
    }
    
    //.footer-menu 
    &-menu {
        display: flex;
        column-gap: px-to-rem(20);

        @include viewport-phone {
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: px-to-rem(20);
        }

        .footer-menu__item {
            @include text-body-2;
            transition: opacity 0.15s ease;
            font-weight: 500;
            color: inherit;

            &:hover,
            &:focus-visible {
                opacity: 0.7;
            }

            &._white {
                padding: 0 px-to-rem(4.2);
                color: var(--color-text-primary);
                background-color: var(--color-element-primary);
            }
        }
    }
}
