@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Raleway:wght@300;600;700;800;900&display=swap");
:root {
  --color-text-primary--rgb: 0, 0, 0;
  --color-text-primary: #000;
  --color-text-secondary--rgb: 163, 163, 163;
  --color-text-secondary: #a3a3a3;
  --color-text-thirdy--rgb: 255, 255, 255;
  --color-text-thirdy: #fff;
  --color-text-fourty--rgb: 109, 110, 115;
  --color-text-fourty: #6d6e73;
  --color-bg-primary--rgb: 255, 255, 255;
  --color-bg-primary: #fff;
  --color-bg-secondary--rgb: 0, 0, 0;
  --color-bg-secondary: #000;
  --color-element-primary--rgb: 255, 235, 185;
  --color-element-primary: #ffebb9;
  --color-element-secondary--rgb: 0, 58, 22;
  --color-element-secondary: #003a16;
  --color-text-hover--rgb: 232, 33, 49;
  --color-text-hover: #e82131;
}

html {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

* {
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
input,
textarea,
button,
select {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  height: unset !important;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 140%;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}
body ::-webkit-scrollbar {
  display: none;
}
body._lock, body._lock__pop {
  overflow: hidden;
}

._container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  ._container {
    max-width: 73.125rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  ._container {
    max-width: 60.625rem;
  }
}
@media (max-width: 991px) {
  ._container {
    max-width: 46.875rem;
  }
}
@media (max-width: 991px) and (max-width: 768px) {
  ._container {
    max-width: 91.501%;
  }
}

.custom-logo-link {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
}
@media (min-width: 992px) {
  .custom-logo-link._header {
    max-width: 6.25rem;
  }
}
@media (max-width: 991px) {
  .custom-logo-link._header {
    max-width: 6.25rem;
  }
}
@media (min-width: 992px) {
  .custom-logo-link._footer {
    max-width: 11.125rem;
  }
}
@media (max-width: 991px) {
  .custom-logo-link._footer {
    max-width: 18.75rem;
  }
}
.custom-logo-link svg, .custom-logo-link img {
  width: 100%;
  height: auto;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input,
textarea {
  -webkit-transition: border 0.3s ease, color 0.3s ease;
  transition: border 0.3s ease, color 0.3s ease;
  border: 1px solid var(--color-text-secondary);
  border-radius: unset;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--color-text-secondary);
  background-color: transparent;
  padding: 0.25rem 0.375rem;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--color-text-secondary);
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--color-text-secondary);
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--color-text-secondary);
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--color-text-secondary);
}
input::placeholder,
textarea::placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--color-text-secondary);
}
input::-webkit-input-placeholder:focus-visible, textarea::-webkit-input-placeholder:focus-visible {
  color: var(--color-text-primary);
}
input::-moz-placeholder:focus-visible, textarea::-moz-placeholder:focus-visible {
  color: var(--color-text-primary);
}
input:-ms-input-placeholder:focus-visible, textarea:-ms-input-placeholder:focus-visible {
  color: var(--color-text-primary);
}
input::-ms-input-placeholder:focus-visible, textarea::-ms-input-placeholder:focus-visible {
  color: var(--color-text-primary);
}
input::placeholder:focus-visible,
textarea::placeholder:focus-visible {
  color: var(--color-text-primary);
}
input:focus-visible,
textarea:focus-visible {
  color: var(--color-text-primary);
  border-color: var(--color-text-primary);
}

._btn-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: unset;
  background-color: transparent;
  -webkit-transition: background 0.3s ease, color 0.3s ease;
  transition: background 0.3s ease, color 0.3s ease;
  font-size: 1rem;
  line-height: 130%;
  letter-spacing: 0.03125rem;
  font-weight: 700;
  background-color: var(--color-element-primary);
  color: var(--color-text-primary);
}
@media (min-width: 992px) {
  ._btn-white {
    padding: 0.625rem 1.875rem;
  }
}
@media (max-width: 991px) {
  ._btn-white {
    padding: 1.25rem 2.8125rem;
  }
}
._btn-white:hover, ._btn-white:focus-visible {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-thirdy);
}

._btn-black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: unset;
  background-color: transparent;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1.125rem 0.75rem;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-thirdy);
}

.more__btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 15.625rem;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 3.125rem;
}

@media (min-width: 992px) {
  .first-section {
    margin-top: 3.75rem;
  }
}
@media (max-width: 991px) {
  .first-section {
    margin-top: 4.375rem;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.15s ease, visibility 0.15s ease;
  transition: opacity 0.15s ease, visibility 0.15s ease;
}
.popup._open {
  opacity: 1;
  visibility: visible;
}
.popup:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-color: rgba(var(--color-text-secondary--rgb), 0.9);
}
.popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--color-bg-primary);
}
@media (min-width: 1200px) {
  .popup__container {
    max-width: 50%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .popup__container {
    max-width: 70%;
  }
}
@media (max-width: 991px) {
  .popup__container {
    max-width: 80%;
  }
}
@media (max-width: 991px) and (max-width: 768px) {
  .popup__container {
    max-width: 90%;
  }
}
.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
  padding: 0.9375rem 1.6875rem;
}
.popup__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  width: 100%;
}
.popup__label img {
  width: 100%;
  height: auto;
}
.popup__form {
  width: 100%;
}
.popup__form input {
  -webkit-transition: border 0.3s ease, color 0.3s ease;
  transition: border 0.3s ease, color 0.3s ease;
  border: 1px solid var(--color-text-secondary);
  border-radius: unset;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--color-text-secondary);
  background-color: transparent;
  padding: 0.25rem 0.375rem;
  width: 100%;
  border: unset;
  font-size: 1.375rem;
  color: var(--color-text-primary);
  font-weight: 100;
  outline: unset;
  padding: 1.875rem 0;
}
.popup__form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--color-text-secondary);
}
.popup__form input::-moz-placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--color-text-secondary);
}
.popup__form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--color-text-secondary);
}
.popup__form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--color-text-secondary);
}
.popup__form input::placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--color-text-secondary);
}
.popup__form input::-webkit-input-placeholder:focus-visible {
  color: var(--color-text-primary);
}
.popup__form input::-moz-placeholder:focus-visible {
  color: var(--color-text-primary);
}
.popup__form input:-ms-input-placeholder:focus-visible {
  color: var(--color-text-primary);
}
.popup__form input::-ms-input-placeholder:focus-visible {
  color: var(--color-text-primary);
}
.popup__form input::placeholder:focus-visible {
  color: var(--color-text-primary);
}
.popup__form input:focus-visible {
  color: var(--color-text-primary);
  border-color: var(--color-text-primary);
}
.popup__form input::-webkit-input-placeholder {
  text-align: center;
  font-size: 1.375rem;
  color: var(--color-text-primary);
  font-weight: 700;
}
.popup__form input::-moz-placeholder {
  text-align: center;
  font-size: 1.375rem;
  color: var(--color-text-primary);
  font-weight: 700;
}
.popup__form input:-ms-input-placeholder {
  text-align: center;
  font-size: 1.375rem;
  color: var(--color-text-primary);
  font-weight: 700;
}
.popup__form input::-ms-input-placeholder {
  text-align: center;
  font-size: 1.375rem;
  color: var(--color-text-primary);
  font-weight: 700;
}
.popup__form input::placeholder {
  text-align: center;
  font-size: 1.375rem;
  color: var(--color-text-primary);
  font-weight: 700;
}
.popup__close {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  width: 100%;
}
.popup__close img {
  width: 100%;
  height: auto;
}

.progressbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  overflow: hidden;
}
.progressbar__inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
  background-color: var(--color-element-primary);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--color-bg-primary);
}
@media (min-width: 992px) {
  .header {
    padding: 0.9375rem 0;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 1.25rem 0;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
}
.header__container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .header__container {
    max-width: 73.125rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header__container {
    max-width: 60.625rem;
  }
}
@media (max-width: 991px) {
  .header__container {
    max-width: 46.875rem;
    padding: 0 0.9375rem;
  }
}
@media (max-width: 991px) and (max-width: 768px) {
  .header__container {
    max-width: 90.625%;
  }
}
@media (max-width: 991px) and (max-width: 578px) {
  .header__container {
    padding: unset;
  }
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
  width: 100%;
}
@media (max-width: 991px) {
  .header__logo {
    position: relative;
    z-index: 1;
  }
}
@media (max-width: 991px) and (max-width: 768px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 7.8125rem;
            flex: 0 0 7.8125rem;
  }
}
@media (max-width: 991px) and (max-width: 578px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5rem;
            flex: 0 0 5rem;
  }
}
.header__additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 992px) {
  .header__additional {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 22.222%;
            flex: 0 0 22.222%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (max-width: 991px) {
  .header__additional {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5.625rem;
            flex: 0 0 5.625rem;
  }
}

@media (min-width: 1200px) {
  .menu-burger-container {
    display: none;
  }
}
@media (max-width: 991px) {
  .menu-burger-container {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5.625rem;
            flex: 0 0 5.625rem;
  }
}
@media (max-width: 991px) {
  .menu-burger {
    position: relative;
    display: block;
    max-width: 1.5625rem;
    width: 100%;
    height: 0.75rem;
    outline: unset;
  }
  .menu-burger::before, .menu-burger::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: -webkit-transform 0.15s ease;
    transition: -webkit-transform 0.15s ease;
    transition: transform 0.15s ease;
    transition: transform 0.15s ease, -webkit-transform 0.15s ease;
    background-color: var(--color-text-primary);
  }
  .menu-burger::before {
    top: 0;
  }
  ._active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu-burger::after {
    top: 0;
    -webkit-transform: translateY(400%);
            transform: translateY(400%);
  }
  ._active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media (min-width: 992px) {
  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}
@media (max-width: 991px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    padding-top: 4.25rem;
    background-color: var(--color-bg-primary);
  }
  .menu._active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media (min-width: 992px) {
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (max-width: 991px) {
  .menu-list {
    display: block;
  }
}
@media (min-width: 992px) {
  .menu-list li {
    padding: 0 1.0625rem;
  }
}
@media (max-width: 991px) {
  .menu-list li {
    line-height: 250%;
    color: var(--color-text-fourty);
  }
}
@media (min-width: 992px) {
  .menu-list li._mob {
    display: none;
  }
}
.menu-list li._space {
  margin-bottom: 2.5rem;
}
.menu-list__item {
  display: block;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: inherit;
}
@media (min-width: 992px) {
  .menu-list__item._active, .menu-list__item:not(._green, ._white):hover, .menu-list__item:not(._green, ._white):focus-visible {
    color: var(--color-text-hover);
  }
}
@media (max-width: 991px) {
  .menu-list__item {
    text-align: center;
  }
  .menu-list__item:not(._green, ._white):hover, .menu-list__item:not(._green, ._white):focus-visible {
    color: var(--color-text-primary);
  }
  ._mob .menu-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  ._mob img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1rem;
            flex: 0 0 1rem;
    width: 100%;
    height: 1rem;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    margin-right: 0.3125rem;
  }
}
.menu-list__item._green {
  color: var(--color-text-thirdy);
}
.menu-list__item._green span {
  padding: 0 0.3125rem;
  background-color: var(--color-element-secondary);
}
.menu-list__item._white {
  color: var(--color-text-primary);
}
.menu-list__item._white span {
  padding: 0 0.3125rem;
  background-color: var(--color-element-primary);
}

.search-open {
  width: 100%;
}
@media (min-width: 992px) {
  .search-open {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.25rem;
            flex: 0 0 1.25rem;
    height: 1.25rem;
  }
}
@media (max-width: 991px) {
  .search-open {
    max-width: 1.5625rem;
    height: 1.5625rem;
    margin: 0 auto;
    margin-bottom: 0.625rem;
  }
}
@media (min-width: 992px) {
  .search-open._desk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 991px) {
  .search-open._desk {
    display: none;
  }
}
@media (min-width: 992px) {
  .search-open._mob {
    display: none;
  }
}
@media (max-width: 991px) {
  .search-open._mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.search-open svg {
  width: 100%;
  height: auto;
}
.search-open svg path {
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}
.search-open:hover path {
  fill: var(--color-text-hover);
}

.search-open:focus-visible path {
  fill: var(--color-text-hover);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}
@media (min-width: 992px) {
  .socials {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5.625rem;
            flex: 0 0 5.625rem;
    margin-right: 1.25rem;
  }
}
.socials li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  height: 1.25rem;
}
.socials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials__item svg {
  width: 100%;
  height: auto;
}
.socials__item svg path {
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}
.socials__item:hover path {
  fill: var(--color-text-hover);
}

.socials__item:focus-visible path {
  fill: var(--color-text-hover);
}

@media (min-width: 1200px) {
  .weather__wrapper {
    position: relative;
  }
}
@media (max-width: 1199px) {
  .weather__wrapper {
    display: none;
  }
}

.weather-atlas-wrapper {
  color: var(--color-text-primary) !important;
  text-shadow: none !important;
  font-size: 0.9em;
}
.weather-atlas-wrapper .weather-atlas-header {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-70%, -57%);
          transform: translate(-70%, -57%);
  text-transform: capitalize !important;
  border: none !important;
  font-size: 0.875rem;
  text-align: center;
  padding: 0 !important;
  background: transparent !important;
}
.weather-atlas-wrapper .weather-atlas-header::after {
  content: ",";
  display: block;
  font-size: 0.9375rem;
  position: absolute;
  top: 0;
  right: -5px;
}
.weather-atlas-wrapper .weather-atlas-body {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 0.7em 1.25em;
}
.weather-atlas-wrapper .current_temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0 !important;
}
.weather-atlas-wrapper .current_temp .wi {
  font-size: 1.3125rem;
}
.weather-atlas-wrapper .current_temp .temp {
  font-size: 3.75em;
  line-height: 1.2;
  margin-left: 0.1em;
  letter-spacing: -0.05em;
}
.weather-atlas-wrapper span {
  font-size: 0.875rem !important;
  font-weight: 700;
  margin-left: 2.9375rem !important;
}
.weather-atlas-wrapper .current_text,
.weather-atlas-wrapper .weather-atlas-footer {
  display: none;
}

@media (min-width: 992px) {
  .mob-slider {
    display: none;
  }
}
@media (max-width: 991px) {
  .mob-slider {
    margin-top: 6.25rem;
  }
}
@media (max-width: 991px) and (max-width: 768px) {
  .mob-slider__container {
    max-width: unset;
  }
}
.main-swiper__btns__container .swiper-button-next,
.main-swiper__btns__container .swiper-button-prev {
  left: unset;
  right: unset;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: unset;
  padding: unset;
  border: unset;
  color: inherit;
  background-color: unset;
}
.main-swiper__btns__container .swiper-button-next::after,
.main-swiper__btns__container .swiper-button-prev::after {
  display: none;
}
.main-swiper__btns__container .swiper-button-next.swiper-button-disabled,
.main-swiper__btns__container .swiper-button-prev.swiper-button-disabled {
  opacity: unset;
  pointer-events: all;
}
.main-swiper__btns__container .swiper-button-next svg,
.main-swiper__btns__container .swiper-button-prev svg {
  width: 100%;
  height: auto;
}
@media (max-width: 991px) {
  .main-swiper__btns__container .swiper-button-next,
.main-swiper__btns__container .swiper-button-prev {
    max-width: 3.125rem;
    width: 100%;
  }
}
@media (max-width: 991px) and (max-width: 768px) {
  .main-swiper__btns__container .swiper-button-next,
.main-swiper__btns__container .swiper-button-prev {
    max-width: 1.875rem;
  }
}
@media (max-width: 991px) and (max-width: 520px) {
  .main-swiper__btns__container .swiper-button-next,
.main-swiper__btns__container .swiper-button-prev {
    max-width: 0.9375rem;
  }
}
.main-swiper__btns__container .swiper-button-next {
  right: 0;
  -webkit-transform: translate(-10%, -50%);
          transform: translate(-10%, -50%);
}
@media (max-width: 520px) {
  .main-swiper__btns__container .swiper-button-next {
    -webkit-transform: translate(-30%, 400%);
            transform: translate(-30%, 400%);
  }
}
.main-swiper__btns__container .swiper-button-prev {
  left: 0;
  -webkit-transform: translate(10%, -50%);
          transform: translate(10%, -50%);
}
@media (max-width: 520px) {
  .main-swiper__btns__container .swiper-button-prev {
    -webkit-transform: translate(30%, 400%);
            transform: translate(30%, 400%);
  }
}
.main-swiper__content {
  position: relative;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--color-text-thirdy);
}
.main-swiper__img {
  position: relative;
  z-index: 0;
}
@media (max-width: 991px) {
  .main-swiper__img {
    padding-top: 87.333%;
  }
}
@media (max-width: 991px) and (max-width: 768px) {
  .main-swiper__img {
    padding-top: 58.267%;
  }
}
@media (max-width: 991px) and (max-width: 550px) {
  .main-swiper__img {
    padding-top: 21.875rem;
  }
}
.main-swiper__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-color: var(--color-bg-secondary);
}
.main-swiper__img img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-swiper__text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 991px) {
  .main-swiper__title {
    max-width: 70%;
    width: 100%;
    font-size: 2rem;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
    line-height: 110%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2.1875rem;
  }
}
@media (max-width: 991px) and (max-width: 768px) {
  .main-swiper__title {
    font-size: 1.75rem;
  }
}
@media (max-width: 991px) and (max-width: 550px) {
  .main-swiper__title {
    font-size: 1.375rem;
    max-width: 85%;
  }
}
@media (max-width: 991px) and (max-width: 414px) {
  .main-swiper__title {
    font-weight: 800;
  }
}
.main-swiper__title .emoji {
  width: 1rem;
  height: 1rem;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  margin-right: 0.3125rem;
}
@media (max-width: 991px) {
  .main-swiper__title .emoji {
    width: 2rem;
    height: 2rem;
    margin-right: 0.125rem;
  }
}
@media (max-width: 991px) and (max-width: 768px) {
  .main-swiper__title .emoji {
    width: 1.75rem;
    height: 1.75rem;
  }
}
@media (max-width: 991px) and (max-width: 550px) {
  .main-swiper__title .emoji {
    width: 1.375rem;
    height: 1.375rem;
  }
}
@media (max-width: 991px) {
  .main-swiper__subtitle {
    line-height: 140%;
    max-width: 70%;
    text-align: center;
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 991px) and (min-width: 1200px) {
  .main-swiper__subtitle {
    font-size: 0.875rem;
  }
}
@media (max-width: 991px) and (max-width: 1199px) {
  .main-swiper__subtitle {
    font-size: 0.875rem;
  }
}
@media (max-width: 991px) and (max-width: 550px) {
  .main-swiper__subtitle {
    max-width: 85%;
  }
}
@media (max-width: 991px) {
  .main-swiper__tag._white {
    font-size: 0.75rem;
    padding: 0.125rem 1.25rem 0.3125rem;
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
  }
}
@media (max-width: 991px) {
  .main-swiper__tag._black {
    line-height: 140%;
    padding: 0.125rem 0.3125rem 0.125rem 0.125rem;
    color: var(--color-text-thirdy);
    background-color: var(--color-bg-secondary);
  }
}
@media (max-width: 991px) and (min-width: 1200px) {
  .main-swiper__tag._black {
    font-size: 0.875rem;
  }
}
@media (max-width: 991px) and (max-width: 1199px) {
  .main-swiper__tag._black {
    font-size: 0.875rem;
  }
}
@media (max-width: 991px) {
  .main-swiper__tag._black::before {
    content: "#";
    display: inline-block;
    -webkit-transform: translateX(0.1875rem);
            transform: translateX(0.1875rem);
  }
}

.separate-section {
  padding: 1.875rem 0;
}
@media (max-width: 991px) and (max-width: 768px) {
  .separate-section__container {
    max-width: unset;
  }
}
@media (min-width: 992px) {
  .separate-section__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
._reverse .separate-section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 992px) {
  ._reverse .separate-section__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 991px) {
  ._reverse .separate-section__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (min-width: 1200px) {
  .separate-section__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30.76%;
            flex: 0 0 30.76%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .separate-section__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37.113%;
            flex: 0 0 37.113%;
  }
}
@media (min-width: 1200px) {
  .separate-section__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666%;
            flex: 0 0 66.666%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .separate-section__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 59.793%;
            flex: 0 0 59.793%;
  }
}
@media (max-width: 991px) {
  ._reverse .separate-section__right {
    margin-bottom: 3.125rem;
  }
}

@media (max-width: 991px) {
  .sidebar {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 992px) {
  .sidebar__wrapper {
    height: 37.5rem;
  }
}
@media (max-width: 991px) and (max-width: 768px) {
  .sidebar__wrapper {
    max-width: 91.501%;
    margin: 0 auto;
  }
}
.sidebar__title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 110%;
  font-weight: 800;
  line-height: 120%;
  padding-bottom: 1.25rem;
  background-color: var(--color-bg-primary);
}
@media (min-width: 1200px) {
  .sidebar__title {
    font-size: 1.625rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar__title {
    font-size: 1.625rem;
  }
}
@media (max-width: 991px) {
  .sidebar__title {
    font-size: 1.625rem;
  }
}
.sidebar__title a {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: inherit;
}
.sidebar__title a:hover, .sidebar__title a:focus-visible {
  color: var(--color-text-hover);
}
@media (min-width: 992px) {
  .sidebar__content {
    height: 37.5rem;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .sidebar__content ::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 992px) {
  .sidebar__btn__container {
    display: none;
  }
}
.sidebar-list {
  height: 100%;
  overflow: auto;
}
.sidebar-list__title {
  font-size: 0.875rem;
}
.sidebar-list__title a {
  color: inherit;
  display: inline-block;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.sidebar-list__title a:hover {
  color: var(--color-text-hover);
}
.sidebar-list__title a:focus-visible {
  color: var(--color-text-hover);
}
.sidebar-list__emoji {
  width: 1rem;
  height: 1rem;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  margin-right: 0.3125rem;
}
.sidebar-list__time {
  display: block;
  font-size: 0.6875rem;
  line-height: 100%;
  color: var(--color-text-secondary);
  margin-bottom: 1.25rem;
}

.articles {
  padding-bottom: 3.125rem;
}
@media (min-width: 992px) {
  .articles {
    border-bottom: 1px solid rgba(var(--color-text-secondary--rgb), 0.4);
  }
}
@media (max-width: 991px) {
  .articles.articles__thematic {
    display: none;
  }
}
@media (max-width: 991px) {
  .articles._desk {
    display: none;
  }
}
@media (min-width: 992px) {
  .articles._no-border {
    border-bottom: unset;
  }
}
@media (max-width: 991px) and (max-width: 768px) {
  .articles__container {
    max-width: unset;
  }
}
.articles__title__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.125rem 0;
}
.articles__title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 110%;
  font-weight: 600;
  line-height: 120%;
  font-weight: 900;
  margin-right: 1.875rem;
}
@media (min-width: 1200px) {
  .articles__title {
    font-size: 1.75rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .articles__title {
    font-size: 1.25rem;
  }
}
@media (max-width: 991px) {
  .articles__title {
    font-size: 1.25rem;
  }
}
.articles-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.articles-tags__title {
  line-height: 140%;
  margin-right: 1.25rem;
}
@media (min-width: 1200px) {
  .articles-tags__title {
    font-size: 0.875rem;
  }
}
@media (max-width: 1199px) {
  .articles-tags__title {
    font-size: 0.875rem;
  }
}
.articles-tags__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}
.articles-tags__item a {
  line-height: 140%;
  display: block;
  text-transform: lowercase;
  font-weight: 700;
  padding: 0 0.3125rem 0 0.125rem;
  color: var(--color-text-thirdy);
  background-color: var(--color-bg-secondary);
}
@media (min-width: 1200px) {
  .articles-tags__item a {
    font-size: 0.875rem;
  }
}
@media (max-width: 1199px) {
  .articles-tags__item a {
    font-size: 0.875rem;
  }
}
.articles-tags__item a::before {
  content: "#";
  display: inline-block;
  -webkit-transform: translateX(0.1875rem);
          transform: translateX(0.1875rem);
}
@media (min-width: 992px) {
  .articles-list.two-columns {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .separate-section__right .articles__btn__container {
    display: none;
  }
}

.articles-list.two-columns-mob {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.875rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 1.875rem;
}
@media (max-width: 991px) and (max-width: 768px) {
  .articles-list.two-columns-mob {
    display: block;
  }
}
@media (min-width: 992px) {
  .articles-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.875rem 1fr 1.875rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
    row-gap: 1.875rem;
  }
}
@media (max-width: 991px) {
  .articles-list > * + * {
    margin-top: 1.875rem;
  }
}
.articles-list__item._donate {
  background-color: var(--color-element-primary);
}
.articles-list__donate__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.875rem;
}
.articles-list__donate__text {
  line-height: 140%;
  margin-bottom: 0.9375rem;
}
@media (min-width: 1200px) {
  .articles-list__donate__text {
    font-size: 0.875rem;
  }
}
@media (max-width: 1199px) {
  .articles-list__donate__text {
    font-size: 0.875rem;
  }
}
.articles-list__donate__btn__container {
  width: 100%;
}
.articles-list__img__content {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1.25rem;
}
.articles-list__img {
  position: relative;
  z-index: 0;
  display: block;
  width: 100%;
}
.articles-list__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background-color: var(--color-bg-secondary);
}
.articles-list__item:hover .articles-list__img::before {
  opacity: 0.2;
}

.articles-list__img:focus-visible::before {
  opacity: 0.2;
}

.articles-list__img__container {
  display: block;
  padding-top: 51.388%;
}
.articles-list__img__container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.articles-list__watchers {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translate(-0.625rem, 100%);
          transform: translate(-0.625rem, 100%);
  font-size: 0.875rem;
  color: var(--color-text-thirdy);
}
.articles-list__item:hover .articles-list__watchers {
  -webkit-transform: translate(-0.625rem, -0.625rem);
          transform: translate(-0.625rem, -0.625rem);
}

.articles-list__img:focus-visible .articles-list__watchers {
  -webkit-transform: translate(-0.625rem, -0.625rem);
          transform: translate(-0.625rem, -0.625rem);
}

.articles-list__watchers img {
  max-width: 0.984375rem;
  width: 100%;
  height: auto;
  margin-right: 0.5625rem;
}
.articles-list__tag {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 100%;
  padding: 0.3125rem;
}
.articles-list__tag._white {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}
.articles-list__tag._black {
  color: var(--color-text-thirdy);
  background-color: var(--color-bg-secondary);
}
@media (max-width: 991px) and (max-width: 768px) {
  .articles-list__text__content {
    max-width: 92%;
    margin: 0 auto;
  }
}
.articles-list__title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 110%;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 136%;
  font-size: 1.125rem;
  margin-bottom: 0.9375rem;
}
.articles-list__title .emoji {
  width: 1rem;
  height: 1rem;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  margin-right: 0.3125rem;
}
.articles-list__title a {
  color: inherit;
}
.articles-list__subtitle {
  line-height: 140%;
  color: var(--color-text-secondary);
}
@media (min-width: 1200px) {
  .articles-list__subtitle {
    font-size: 0.875rem;
  }
}
@media (max-width: 1199px) {
  .articles-list__subtitle {
    font-size: 0.875rem;
  }
}

.sponsors {
  margin-bottom: 1.25rem;
}
.sponsors__wrapper {
  max-width: 44.1875rem;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) and (max-width: 768px) {
  .sponsors__wrapper {
    max-width: unset;
  }
}
.sponsors__text {
  text-align: center;
  margin-bottom: 0.875rem;
  color: var(--color-text-fourty);
}
@media (max-width: 991px) {
  .sponsors__text {
    font-size: 1rem;
  }
}
.sponsors__text a {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: inherit;
}
.sponsors__text a:hover, .sponsors__text a:focus-visible {
  color: var(--color-text-hover);
}
.sponsors-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 991px) and (max-width: 768px) {
  .sponsors-list {
    max-width: 19.375rem;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
}
.sponsors-list__item {
  border-top: 1px solid rgba(var(--color-text-secondary--rgb), 0.4);
  padding: 0.5rem;
}
@media (max-width: 991px) {
  .sponsors-list__item:nth-child(4) img {
    max-width: 5.0625rem;
    height: auto;
  }
}
@media (min-width: 992px) {
  .sponsors-list__item img {
    height: 100%;
    width: auto;
  }
}
@media (max-width: 991px) {
  .sponsors-list__item img {
    max-width: 8.6875rem;
    height: auto;
  }
}

.marquee {
  overflow: hidden;
}
@media (min-width: 992px) {
  .marquee {
    display: none;
  }
}
@media (max-width: 991px) {
  .marquee {
    margin-top: 1.25rem;
  }
}
.marquee__title {
  display: inline-block;
  font-weight: 600;
  font-size: 1.6875rem;
}
.marquee__title a {
  color: inherit;
  -webkit-box-shadow: inset -3px -15px 0px -10px var(--color-element-primary);
          box-shadow: inset -3px -15px 0px -10px var(--color-element-primary);
}
.marquee__title img {
  width: 1rem;
  height: 1rem;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  margin-right: 0.3125rem;
  width: 1.6875rem;
  height: 1.6875rem;
  margin-right: 0.125rem;
}
.marquee .empty {
  display: inline-block;
  margin-right: 1.875rem;
}

.footer {
  padding: 2.875rem 0 1.3125rem;
  color: var(--color-text-thirdy);
  background-color: var(--color-bg-secondary);
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1.5625rem;
}
@media (min-width: 992px) {
  .footer__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 991px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 992px) {
  .footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 11.125rem;
            flex: 0 0 11.125rem;
  }
}
@media (max-width: 991px) {
  .footer__logo {
    max-width: 18.75rem;
    width: 100%;
  }
}
.footer__copyrights {
  line-height: 140%;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  color: var(--color-text-secondary);
}
@media (min-width: 1200px) {
  .footer__copyrights {
    font-size: 0.875rem;
  }
}
@media (max-width: 1199px) {
  .footer__copyrights {
    font-size: 0.875rem;
  }
}
@media (min-width: 992px) {
  .footer__copyrights {
    max-width: 50%;
  }
}
@media (max-width: 991px) {
  .footer__copyrights {
    max-width: 60%;
  }
}
.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
@media (max-width: 991px) {
  .footer-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.25rem;
  }
}
.footer-menu .footer-menu__item {
  line-height: 140%;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
  font-weight: 500;
  color: inherit;
}
@media (min-width: 1200px) {
  .footer-menu .footer-menu__item {
    font-size: 0.875rem;
  }
}
@media (max-width: 1199px) {
  .footer-menu .footer-menu__item {
    font-size: 0.875rem;
  }
}
.footer-menu .footer-menu__item:hover, .footer-menu .footer-menu__item:focus-visible {
  opacity: 0.7;
}
.footer-menu .footer-menu__item._white {
  padding: 0 0.2625rem;
  color: var(--color-text-primary);
  background-color: var(--color-element-primary);
}