@import './colors.scss';
@import './settings';
@import './viewport';
@import './heading';
@import './font-size.scss';

*{
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
input,
textarea,
button,
select {
  font-family: $font-family-content;
}

a{
    text-decoration: none;
}

body{
    overflow-x: hidden;
    height: unset !important;

    ::-webkit-scrollbar {
        display: none;
      }
      
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    font-weight: 400;
    font-size: px-to-rem(18);
    line-height: 140%;
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);

    &._lock, &._lock__pop{
        overflow: hidden;
    }
}

@mixin text-body-1 {
    font-size: px-to-rem(20);
    line-height: 140%;
}

@mixin text-body-2 {
    line-height: 140%;

    @include viewport-desktop {
        font-size: px-to-rem(14);
    }
    @include viewport-tablet-max {
        font-size: px-to-rem(14);
    }
}

@mixin text-body-3 {
    line-height: 140%;

    font-size: px-to-rem(11);
}

@mixin text-body-4 {
    line-height: 140%;
    
    font-size: px-to-rem(26);
}

@mixin button { 
    display: flex;
    align-items: center;
    justify-content: center;
    border: unset;
    background-color: transparent; 
}

@mixin button-white {
    @include button;
    transition: background 0.3s ease, color 0.3s ease;
    font-size: px-to-rem(16);
    line-height: 130%;
    letter-spacing: px-to-rem(0.5);
    font-weight: 700;
    background-color: var(--color-element-primary);
    color: var(--color-text-primary);

    @include viewport-tablet-min {
        padding: px-to-rem(10) px-to-rem(30);
    }

    @include viewport-phone {
        padding: px-to-rem(20) px-to-rem(45);
    }

    &:hover,
    &:focus-visible {
        background-color: var(--color-bg-secondary);
        color: var(--color-text-thirdy);
    }
}

@mixin button-black {
    @include button;
    width: 100%;
    font-size: px-to-rem(18);
    font-weight: 700;
    padding: px-to-rem(18) px-to-rem(12);
    background-color: var(--color-bg-secondary);
    color: var(--color-text-thirdy);

    // &:hover,
    // &:focus-visible {
    //     background-color: var(--color-text-primary);
    //     color: var(--color-text-secondary);
    // }
}

@mixin form-input {
    transition: border 0.3s ease, color 0.3s ease;
    border: 1px solid var(--color-text-secondary);
    border-radius: unset;
    font-weight: 400;
    font-size: px-to-rem(14);
    line-height: 140%;
    color: var(--color-text-secondary);
    background-color: transparent;
    padding: px-to-rem(4) px-to-rem(6);

    &::placeholder {
        font-weight: 400;
        font-size: px-to-rem(14);
        line-height: 140%;
        color: var(--color-text-secondary);

        &:focus-visible {
            color: var(--color-text-primary);
        }
    }

    &:focus-visible {
        color: var(--color-text-primary);
        border-color: var(--color-text-primary);
    }
}

._container {
    width: 100%;
    margin: 0 auto;

    @include viewport-desktop {
        max-width: px-to-rem(1170);
    }
    @include viewport-tablet {
        max-width: px-to-rem(970);
    }
    @include viewport-phone {
        max-width: px-to-rem(750);

        @media (max-width: 768px) {
            max-width: 91.501%;
        }
    }
}

.custom-logo-link {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;

    &._header {
        @include viewport-tablet-min {
            max-width: px-to-rem(100);
        }
        @include viewport-phone {
            max-width: px-to-rem(100);
        }
    }

    &._footer {
        @include viewport-tablet-min {
            max-width: px-to-rem(178);
        }
        @include viewport-phone {
            max-width: px-to-rem(300);
        }
    }

    svg, img{
        // position: absolute;
        // top: 0;
        // left: 0;
        width: 100%;
        height: auto;
        transition: opacity 0.3s ease;
    }
}