$colors: (
    'text-primary': #000,
    'text-secondary': #a3a3a3,
    'text-thirdy': #fff,
    'text-fourty': #6d6e73,
    'bg-primary': #fff,
    'bg-secondary': #000,
    'element-primary': #ffebb9,
    'element-secondary': #003a16,
    'text-hover': #e82131,
);

@mixin reverse {
    filter: invert(1);
}

@function hex-to-rgb ($hex) {
    @return red($hex), green($hex), blue($hex);
}

:root {
    @each $key, $value in $colors {
        --color-#{$key}--rgb: #{hex-to-rgb($value)};
        --color-#{$key}: #{$value};
    }
}

html {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
}
